table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightblue;
}

#updatelocomotiveformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

#updatelocomotiveformdiv label, button, input {
    margin: 10px;
    padding: 7px;
}

#updatelocomotiveformdiv label {
    font-weight: bolder;
}

#locomotiveformdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#locomotiveformdiv label, button, input {
    margin: 10px;
    padding: 7px;
}

#locomotiveformdiv label {
    font-weight: bolder;
}

table button {
    padding: 2px;
}
